<html>
<h1>Sign Up to Chat App</h1>
<body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<form onsubmit="signUP(event)">
<label>Name:</label>
<input type="text" id="name_user"><br>
<label> Email:</label>
<input type="email" id="email"><br>
<label>Phone Number:</label>
<input type="number" id="number"><br>
<label>Password</label>
<input type="password" id="password"><br>
<br>
<button type="submit">SignUP</button>

</form>
<a href="/forgot">Forgot Password</a>
<a href="./login">Login</a>
<script src="/signup.js"></script>
</body>
</html>